@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div><img src="/Images/ppicture.png" alt="ProfilePicture" style="height:100px; width:100px" /></div>
    <h1>@User.Identity.Name</h1>
    <p class="lead">Welcome to your HomePage! All functions available from the top navigation bar or you can go through quick access links below:</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>
            You can see list of avalable projects by clicking button below
        </p>
        <p><a class="btn btn-primary btn-large" href='@Url.Action("Index","Project")'>Projects &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calendar</h2>
        <p>If you wanna create new calendar event just go through this button below:</p>
        <p><a href='@Url.Action("Index","Workload")' class="btn btn-primary btn-large">Calendar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List of Users</h2>
        <p>You can easily find list of users. It's simple as 2 and 2 is 3 *just kiddin*</p>
        <p><a href='@Url.Action("Index","User")' class="btn btn-primary btn-large">List of users &raquo;</a></p>
    </div>
</div>