@model List<TimeEffortCore.Entities.Notification>

<ul class="nav navbar-top-links navbar-right" style="padding-right:5px;">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            @if (Model.Count != 0) {
                <div class="icon-wrapper">
                    <i class="fa fa-bell fa-fw fa-border"></i>
                    <span class="badge">!</span>
                </div>
                <i class="fa fa-caret-down"></i>
            }
            else
            {

                <i class="fa fa-bell fa-fw fa-border"></i>
                <i class="fa fa-caret-down"></i>
            }
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            @if (Model.Count != 0)
            {
                foreach (var notification in Model)
                {
                    <li>
                        <a href='@Url.Action("Edit","Project", new { id = notification.ProjectId })'>
                            <div>
                                <i class="fa fa-file-powerpoint-o fa-fw"></i> @(notification.Project.Name+ notification.Project.Code.Substring(11))
                                <span class="pull-right text-muted small">
                                    @if(notification.MESSAGE.Length >= 34){
                                        @(notification.MESSAGE.Substring(0,33)+"..." )}
                                    else {
                                        @notification.MESSAGE 
                                    }
                            </span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                }
                <li>
                    <a class="text-center" href=@Url.Action("Index","Notification")>
                        >
                        <strong>See all notifications</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a href=@Url.Action("Index","Notification")>
                        <div>
                            <i class="fa fa-tasks fa-fw"></i>
                            <span class="pull-right text-muted small">No new notifications!</span>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </li>
</ul>

<style>
    .icon-wrapper {
        position: relative;
        float: left;
        background: none;
        border: none;
    }

    *.icon-blue {
        color: #0088cc;
    }

    *.icon-grey {
        color: grey;
    }

    i {
        width: 25px;
        text-align: center;
        vertical-align: middle;
        border: none;
        background: none;
    }

    .badge {
        background: rgb(255,0,0);
        width: 0.2em;
        height: 0.2em;
        margin: 0;
        border-radius: 50%;
        position: absolute;
        top: -3px;
        right: -7px;
        padding: 5px;
        color: white;
        padding: 5px;
        margin-left: -3rem;
        font-size: 0.9rem;
        line-height: 0.4rem;
    }
</style>