@model TimeEffort.Models.PositionViewModel

@{
    ViewBag.Title = "Removing Position";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Are you sure to delete this position?</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("List of Positions", "Index")
        </div>
    }
</div>
