
@{
    ViewBag.Title = "Workloads";
    //Layout = "~/Views/Shared/_LayoutTest.cshtml";
}
<h2>Timesheet</h2>

@using (Html.BeginForm("Workloads", "Workload", FormMethod.Get))
{
    
    @Html.TextBox("DateClicked", "", htmlAttributes: new { @id = "tbxDate", @class = "hidden" })
    <input style="display:none" id="test" type="submit"/>
}

    <div id="calendar">
    </div>
    <script type="text/javascript">
        // page is now ready, initialize the calendar...


        $('#calendar').fullCalendar({
            
            weekends: false,// will hide Saturdays and Sundays
            dayClick: function (date) {
                $('#tbxDate').val(date.format());
                $('#test').trigger("click");
            },
            events: "/Workload/GetWorkload"
            
            
        });
       
    </script>



